ansimarkup==1.4.0
beautifulsoup4==4.7.1
better-exceptions-fork==0.2.1.post6
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
colorama==0.4.1
cymem==2.0.2
cytoolz==0.9.0.1
dill==0.2.9
fake-useragent==0.1.11
Flask==1.0.2
Flask-Cors==3.0.7
future==0.17.1
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
jellyfish==0.7.1
Jinja2==2.10
loguru==0.2.5
MarkupSafe==1.1.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.2
nltk==3.4
numpy
pandas
plac==0.9.6
praw==6.1.1
prawcore==1.0.1
preshed==2.0.1
Pygments==2.3.1
python-dateutil==2.8.0
pytz==2018.9
regex==2018.1.10
requests==2.21.0
selenium==3.141.0
singledispatch==3.4.0.3
six==1.12.0
soupsieve==1.8
spacy==2.0.18
thinc==6.12.1
toolz==0.9.0
tqdm==4.31.1
ujson==1.35
Unidecode==1.0.23
update-checker==0.16
urllib3==1.26.5
websocket-client==0.54.0
Werkzeug==0.14.1
wrapt==1.10.11
google-search-results==2.4.1
